<% provide :title, t(:contact) %>
<h1><%= t "contact" %></h1>
<p>
  Sujoy Datta: sujoydatta25@yahoo.com <br>
  Sirajus Salekin: sjsalekin@gmail.com <br>
  Muhammad Tamzid: muhammad.tamzid@gmail.com
</p>
